:root{
    --light-gray: #727272;
    --black: #131313;
    --font-weight: 400;
    --font-size: 16px;
    --orenge: #FF900E;
    --white: #fff;
}

/*---------------------------------  Global CSS  --------------------------------*/

*{  box-sizing: border-box;
    margin: 0;
}

body{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.1);
}

footer{
    background: rgba(255, 144, 14, 0.1);
}

/*------------------------- nav and header section  ------------------------*/

.nav{
    padding: 20px;
}
.nav-main-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left-column h2{
    font-weight: 700;
    color: var(--black);
}
.nav-right-column ul {
    gap:25px;
    display: flex;
    list-style-type: none;
}

/*--------------------------------  banner section  ----------------------------*/

.banner{
    padding: 25px;
   grid-template-rows: repeat(1, 1fr);
}
.banner-left-column {
	width: 50%;
	text-align: center;
	position: relative;
	left: 25%;
    margin-bottom: 40px;
}
.banner-title{
    font-weight: 700;
    font-size: 50px;
    color: var(--black);
}
.banner-description{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color:var(--light-gray);
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner-btn{
    background: var(--orenge);
    border-radius: 8px;
    padding: 15px;
    border: none;
    color: var(--white);
    transition: .5s;
}
.banner-btn:hover{
    background-color: var(--light-gray);
    color: var(--white);
}
.banner-right-column img{
    width: 100%;
}

/*---------------------------  features section styles  ---------------------------- */

.features-section{
    margin-top: 80px;
}
.features-main-column{
    display: flex;
    align-items: center;
}
.features-left-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-right: 70px;
}
.features-left-column img{
    width: 342px;
    height: 342px;
    border-radius: 10px;
}
.features-right-column{
    width: 35%;
}
.features-title{
    font-weight: 500;
    font-size: 45px;
    color: var(--light-gray);
}
.features-span-one{
    color: var(--black);
    font-weight: 700;
}
.features-span-two{
    color: var(--orenge);
    font-weight: 700;
}
.features-description{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color: var(--light-gray);
    padding-top: 20px;
    padding-bottom: 20px;
}
.features-btn{
    background: var(--orenge);
    border-radius: 8px;
    padding: 15px;
    border: none;
    color: var(--white);
    transition: .5s;
}
.features-btn:hover{
    background-color: var(--light-gray);
    color: var(--white);
}

/*-------------------------------  enjoy section styles  -----------------------------*/

.enjoy-section{
    margin-top: 130px;
}
.enjoy-main-column{
    display: flex;
    align-items: center;
}
.enjoy-top-section{
    margin-bottom: 25px;
}
.enjoy-title{
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
    position: relative;
}
.enjoy-title::before {
	content: "";
	position: absolute;
	background-color: var(--orenge);
	height: 98px;
	width: 8px;
	left: -15px;
	top: 5px;
}
.enjoy-description{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color: var(--light-gray);
    margin-top: 20px;
}
.enjoy-bottom-section {
	padding: 35px;
	box-shadow: 0 20px 20px #00000008;
}
.enjoy-bottom-title{
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
}
.enjoy-bottom-description{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color: var(--light-gray);
}
.enjoy-btn {
	background: var(--orenge);
	border-radius: 8px;
	padding: 20px;
	border: none;
	color: var(--white);
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
    margin-left: 5px;
    transition: .5s;
}
.enjoy-btn:hover{
    background-color: var(--light-gray);
    color: var(--white);
}
.enjoy-right-column{
    margin-left: 80px;
    border-radius: 8px;
    z-index: 1;
}

/*------------------------------  some section styles  ------------------------------- */

.some-section{
    margin-top: 130px;
}
.some-left-column{
    width: 50%;
}
.some-title{
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
    margin-bottom: 20px;
}
.some-description{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color: var(--light-gray);
    margin-bottom: 80px;
}
.some-right-column{
    display: flex;
    justify-content: space-around;
}
.some-award {
	border: 1px solid var(--orenge);
	padding: 35px;
	text-align: center;
	border-radius: 8px;
    transition: .5s;
}
.some-award:hover{
	background-color: var(--orenge);
    color: var(--white);
}
.some-award h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*------------------------------  Gallery section styles  ----------------------------*/
.gallery-section{
    margin-top: 100px;
}
.gallery-title{
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
    margin-bottom: 50px;
    text-align: center;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.gallery-container img {
	width: 417px;
	height: 285px;
    border-radius: 8px;
}

/*-------------------------------  Sponspors section styles  --------------------------*/

.Sponspors-section{
    margin-top: 130px;
}
.Sponspors-main-column {
	position: relative;
	left: 25%;
}
.Sponspors-left-column{
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
}
.Sponspors-title{
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
    margin-bottom: 24px;
}
.Sponspors-description{
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    color: var(--light-gray);
}
.Sponspors-right-column{
    display: flex;
    justify-content: space-around;
}

/*--------------------------------  footer section styles  --------------------------*/

.footer-container{
    margin-top: 130px;
    margin-bottom: 130px;
}
.footer-container p{
    padding: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

/*----------------------------------- Responsive ------------------------------------*/


                                        /*----------------
                                        Responsive 400px 
                                        ------------------*/


@media only screen and (max-width: 400px){
    .nav-left-column h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .nav-right-column ul {
        gap: 10px;
        flex-direction: column;
    }
    .nav-main-column {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .banner{
        margin-top: -20px;
    }
    .banner-title {
        font-size: 30px;
    }
    .banner-left-column {
        width: 90%;
        text-align: left;
        margin-bottom: 40px;
        margin-left: -55px;
    }
    .features-section {
        margin-top: 45px;
    }
    .features-title {
        font-size: 35px;
    }
    .features-main-column {
        flex-direction: column-reverse;
    }
    .features-left-column {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0;
        padding: 5px;
    }
    .features-left-column img {
        width: 100%;
        height: 100%;
    }
    .features-right-column {
        padding: 10px;
    }
    .features-right-column {
        padding: 10px;
        width: fit-content;
    }
    .enjoy-section {
        margin-top: 80px;
    }
    .enjoy-main-column {
        flex-direction: column;
    }
    .enjoy-top-section {
        padding: 10px;
    }
    .enjoy-title {
        font-size: 35px;
    }
    .enjoy-title::before {
        display: none;
    }
    .enjoy-right-column {
        margin-left: 0;
        margin-top: 30px;
        padding: 10px;
    }
    .enjoy-right-column img {
        width: 100%;
    }
    .some-section {
        margin-top: 55px;
    }
    .some-left-column {
        width: fit-content;
        text-align: center;
        padding: 15px;
    }
    .some-description {
        margin-bottom: 45px;
    }
    .some-right-column {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .gallery-section {
        margin-top: 55px;
    }
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-title {
        font-size: 35px;
    }
    .gallery-container img {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .Sponspors-section {
        margin-top: 70px;
        width: 200px;
    }
    .Sponspors-main-column {
        margin-left: 34px;
    }
    .Sponspors-left-column {
        width: fit-content;
        margin-left: 0px;
        text-align: left;
    }
    .Sponspors-left-column {
        width: fit-content;
    }
    .Sponspors-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .Sponspors-right-column {
        flex-direction: column;
        gap: 30px;
        margin-left: 50px;
    }
    .Sponspors-right-column img {
        width: 227px;
    }
    .footer-container {
        margin-top: 80px;
        margin-bottom: 30px;
    }
}

                                        /*----------------
                                        Responsive 400-688px 
                                        ------------------*/


@media only screen and (min-width: 401px) and (max-width: 688px){
    .nav-left-column h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .nav-right-column ul {
        gap: 27px;
        margin-top: 10px;
    }
    .nav-main-column {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .banner-title {
        font-size: 35px;
    }
    .banner-left-column {
        width: 80%;
        text-align: left;
        margin-bottom: 50px;
        margin-left: -90px;
    }
    .features-section {
        margin-top: 45px;
    }
    .features-title {
        font-size: 35px;
        font-weight: 700;
    }
    .features-main-column {
        flex-direction: column-reverse;
    }
    .features-left-column {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0;
        padding: 10px;
    }
    .features-left-column img {
        width: 100%;
        height: 100%;
    }
    .features-right-column {
        padding: 20px;
        width: fit-content;
    }
    .enjoy-section {
        margin-top: 80px;
    }
    .enjoy-main-column {
        flex-direction: column;
    }
    .enjoy-top-section {
        padding: 10px;
    }
    .enjoy-title {
        font-size: 35px;
    }
    .enjoy-title::before {
        display: none;
    }
    .enjoy-right-column {
        margin-left: 0;
        margin-top: 30px;
        padding: 10px;
    }
    .enjoy-right-column img{
        width: 100%;
    }
    .some-section {
        margin-top: 55px;
    }
    .some-left-column {
        width: 95%;
        text-align: center;
        padding: 15px;
    }
    .some-description {
        margin-bottom: 45px;
    }
    .some-right-column {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .gallery-section {
        margin-top: 55px;
    }
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    .gallery-title {
        font-size: 35px;
    }
    .gallery-container img {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
    }
    .Sponspors-section {
        margin-top: 70px;
        width: 316px;
    }
    .Sponspors-main-column {
        margin-left: 30%;
    }
    .Sponspors-left-column {
        width: fit-content;
        margin-left: 0px;
        text-align: left;
    }
    .Sponspors-left-column {
        width: fit-content;
    }
    .Sponspors-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .Sponspors-right-column {
        flex-direction: column;
        gap: 30px;
        margin-left: 50%;
    }
    .Sponspors-right-column img {
        width: 227px;
    }
    .footer-container {
        margin-top: 80px;
        margin-bottom: 30px;
    }
}




